<section id="js-about" class="about slides-container">
  <!-- <div class="slider-item hover container pt-[11rem]">
    <div class="section">
      <img
        src="/assets/img/hero.jpg"
        alt="Product 1"
        class="slider-item__img"
      />
      <div class="box grid grid-cols-22">
        <div class="box_head col-start-1 col-span-9">
          <h2 id="about-title" class="stagger-animate fnt-freight">
            Find a home that<br />suits your lifestyle
          </h2>
        </div>
        <p class="box_ttl col-start-1 col-span-2 typo--overline color--white">
          SUPERIOR
        </p>
        <p class="box__content col-start-12 col-span-5">
          Built on centuries of tradition and dedicated to innovating the luxury
          real estate industry, Masteri Centre Point offers transformative
          experiences through a global network of exceptional and outstanding
          agents.
        </p>

        <p class="box__number col-start-4 typo--display color--white">01</p>

        <div class="slider-pages typo--label">
          <p class="pages pages--current">01</p>
          <p class="pages pages--total">/03</p>
        </div>
        
        <div class="call-to-action-button">
          <div class="circle"></div>
          <p class="button-text typo--button color--white">Discover design</p>
        </div>
      </div>
    </div>
  </div> -->
</section>

